<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [2]:
import pandas as pd

Load the dataset into a dataframe.

In [3]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [4]:
# your code goes here
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [6]:
# your code goes here
df.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [7]:
# your code goes here
df.isnull().sum()

Respondent           0
MainBranch           0
Hobbyist             0
OpenSourcer          0
OpenSource          81
Employment           0
Country              0
Student             51
EdLevel            112
UndergradMajor     737
EduOther           164
OrgSize             96
DevType             65
YearsCode            9
Age1stCode          13
YearsCodePro        16
CareerSat            0
JobSat               1
MgrIdiot           493
MgrMoney           497
MgrWant            493
JobSeek              0
LastHireDate         0
LastInt            413
FizzBuzz            37
JobFactors           3
ResumeUpdate        39
CurrencySymbol       0
CurrencyDesc         0
CompTotal          809
                  ...
Containers          82
BlockchainOrg     2322
BlockchainIs      2610
BetterLife          98
ITperson            35
OffOn               38
SocialMedia        293
Extraversion        20
ScreenName         507
SOVisit1st         325
SOVisitFreq          5
SOVisitTo            1
SOFindAnswer         3
SOTimeSaved         50
SOHowMuchTime     1917
SOAccount            1
SOPartFreq        1128
SOJobs               6
EntTeams             5
SOComm               0
WelcomeChange       85
SONewContent      1965
Age                287
Gender              73
Trans              123
Sexuality          542
Ethnicity          675
Dependents         140
SurveyLength        19
SurveyEase          14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [8]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [9]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [10]:
#make a note of the majority value here, for future reference
#
df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [11]:
# your code goes here
df['WorkLoc']= df['WorkLoc'].fillna('office')

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [12]:
# your code goes here
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [13]:
# your code goes here
df['CompFreq'].value_counts().index

Index(['Yearly', 'Monthly', 'Weekly'], dtype='object')

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [14]:
# your code goes here
annual = []
def annualcomp():
    for x,y in zip(df['CompFreq'], df['CompTotal']):
        if x=="Monthly":
            annual.append(y*12)
        elif x=="Weekly":
            annual.append(y*52)
        else:
            annual.append(y)
annualcomp()
df['NormalizedAnnualCompensation'] = annual
df[['NormalizedAnnualCompensation']]

       NormalizedAnnualCompensation
0                           61000.0
1                          138000.0
2                           90000.0
3                          348000.0
4                           90000.0
5                          114000.0
6                           36000.0
7                          103000.0
8                           69000.0
9                           96000.0
10                          84000.0
11                         114000.0
12                         104000.0
13                        1144000.0
14                        1152000.0
15                         156000.0
16                          18000.0
17                          76800.0
18                          60000.0
19                         400000.0
20                          47300.0
21                         618000.0
22                         345000.0
23                          85000.0
24                         107000.0
25                          66000.0
26                          76800.0
27                          50000.0
28                         800000.0
29                          75000.0
...                             ...
11522                   420000000.0
11523                      612000.0
11524                           NaN
11525                      110000.0
11526                       67000.0
11527                      540000.0
11528                       48000.0
11529                       65000.0
11530                     1080000.0
11531                           NaN
11532                      240000.0
11533                     1800000.0
11534                           NaN
11535                      272760.0
11536                     1250000.0
11537                       79000.0
11538                       80000.0
11539                     1440000.0
11540                      432000.0
11541                       34200.0
11542                      552000.0
11543                       31000.0
11544                     1900000.0
11545                       60000.0
11546                        9600.0
11547                      130000.0
11548                       74400.0
11549                      105000.0
11550                       80000.0
11551                           NaN

[11398 rows x 1 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).